{% load static i18n flags %}
<!-- Sidebar Start -->
<aside class="sidebar trans-0-4">
	<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>
	<ul class="menu-sidebar p-t-95">
		{% for i in page_static %}
			<li class="t-center m-b-13">
				<a href="{% url i.url_name %}" class="txt19 sidebar-colors">
					{% trans i.title %}
				</a>
			</li>
		{% endfor %}
	</ul>
	<div class="t-center p-l-60 p-r-60 p-b-40">
		<div class="logo">
			<a href="{% url 'home' %}">
				<img src="{{basicModel.page_logo.url}}" alt="Logo" data-logofixed="{{basicModel.page_logo.url}}">
			</a>
		</div>
		<div class="d-flex-social-gap">
			<a href="{{links.food_zone_facebook}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="{{links.food_zone_instagram}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		</div>
		<div class="d-flex-social-gap mt-4">
			<a href="{{links.food_zone_glovo}}"><img src={% static './images/icons/glovo.png' %} alt="Glovo" class="icon-icon"/></a>
			<a href="{{links.food_zone_yandex_eat}}"><img src={% static './images/icons/yandex-eats.png' %} alt="Glovo" class="icon-icon"/></a>
			<a href="{{links.food_zone_menu_am}}"><img src={% static './images/icons/menu-am.png' %} alt="Glovo" class="icon-icon"/></a>
		</div>
	</div>
</aside>
<!-- Sidebar End -->